# Excercice 1 : Requêtes SPARQL sur DBpedia

1. Données DBPedia
    - HTML : http://dbpedia.org
    - SPARQL endpoint : http://dbpedia.org/sparql ou http://yasgui.org
    - Téléchargements des données RDF : http://wiki.dbpedia.org/Datasets
    - Consulter les classes : http://mappings.dbpedia.org/server/ontology/classes/
    - Chapitre francophone de DBpedia : http://fr.dbpedia.org
    - Accès aux différentes classes : http://mappings.dbpedia.org/server/ontology/classes/
    - Exemple de classe : Work
        - Au format HTML : http://dbpedia.org/ontology/Work
        - Au format RDF : http://dbpedia.org/data3/Work.ntriples

    - Vous pouvez consulter les différentes classes de l’ontologie DBpedia : http://mappings.dbpedia.org/server/ontology/classes/
    - Vous allez prendre un exemple de dbpedia sur les oeuvres. Vous allez sur le lien suivant : http://dbpedia.org/ontology/Work.

2. Import des bibliothèques : Vous aller utiliser des bibliothèques telles que SPARQLWrapper pour interagir avec des points d'accès SparQL à partir de votre code Python.

In [1]:
!pip install SPARQLWrapper

  WARNING: The script rqw.exe is installed in 'C:\Users\Fatou\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting SPARQLWrapper
  Downloading SPARQLWrapper-2.0.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: rdflib>=6.1.1 in c:\users\fatou\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SPARQLWrapper) (7.1.1)
Requirement already satisfied: pyparsing<4,>=2.1.0 in c:\users\fatou\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rdflib>=6.1.1->SPARQLWrapper) (3.2.0)
Downloading SPARQLWrapper-2.0.0-py3-none-any.whl (28 kB)
Installing collected packages: SPARQLWrapper
Successfully installed SPARQLWrapper-2.0.0

3. Les préfixes les plus courants que DBpedia positionne par défaut :
    - rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
    - rdfs: http://www.w3.org/2000/01/rdf-schema#
    - owl: http://www.w3.org/2002/07/owl#
    - xsd: http://www.w3.org/2001/XMLSchema#
    - dc: http://purl.org/dc/elements/1.1/
    - foaf: http://xmlns.com/foaf/0.1/
    - dbpedia: http://dbpedia.org/resource
    - dbpedia-owl: http://dbpedia.org/ontology/
    - dbpprop: http://dbpedia.org/property/
    - dbr: <http://dbpedia.org/resource/>
    - dbo: <http://dbpedia.org/ontology/>

4. Requêtes SPARQL 
- Vous allez parcourir les propriétés de la ressource : http://dbpedia.org/resource/Armageddon_(1998_film).
- Tester l'exemple suivant et expliquer ce que retourne la requête

from SPARQLWrapper import SPARQLWrapper, JSON

# URL du point d'accès SparQL de la DBpedia
dbpedia_sparql_endpoint = "http://dbpedia.org/sparql"

# Création d'une instance de SPARQLWrapper 
sparql = SPARQLWrapper(dbpedia_sparql_endpoint)

# Requête SPARQL
query = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>


SELECT ?titre
WHERE {  <http://dbpedia.org/resource/Armageddon_(1998_film)> rdfs:label ?titre. 

  }
LIMIT 100
"""

# Format de résultat en JSON
sparql.setReturnFormat(JSON)


# Exécution de la requête  
sparql.setQuery(query)
results = sparql.query().convert()

# Affichage des résultats
for result in results["results"]["bindings"]:
    titre = result["titre"]["value"]
    
    
    print(f"  titre : {titre}")

- Modifier la requête afin de déterminer les résumés (abstract) des différents films Armageddon. Vous pouvez tester vos requêtes directement sur  http://yasgui.org

- Reprendre la requête précédente et déterminer tous les résumés en français (indice : penser à l’utilisation de méthodes)

- Déterminer les acteurs du film triés par ordre descendant

- Déterminer le nombre d’acteurs nés avant 1956

- En parcourant les ressources dbo:person, artist et actor, déterminer les acteurs qui ont joué dans plus de 50 films

- Déterminer tous les acteurs nés à Paris ou Londres.

# Excercice 2 : SPARQL sur le graphe des séries

- Tester la requête SPARQL suivante :

# Définition d'une requête
query = """
    PREFIX ex: <http://example.org/stuff/1.0/>
    SELECT ?tome 
    WHERE {
       ?x rdf:_1 ?tome.
    }
"""

# Exécution de la requête
results = g.query(query)

for result in results:
    print(f"Theme: {result.tome}")

- Déterminer les acteurs de toutes les séries

- Triez les séries par date

- Déterminer toutes les séries sorties après 2022

- Déterminer le nombre de séries

- Déterminer les séries qui sont sorties après 2022, ayant des acteurs qui ont joué dans au moins 2 séries